/*1.2. При наведении мышью на картинку, поверх неё должна появляться кнопка «Подробнее»
и совершаться переход на отдельную страницу о подробностях картинки (описание см. ниже).*/

.image-thumbnail:hover{
    background-color: #d5d5d5;
}
.image-thumbnail:hover > .image-thumbnail__button{
    visibility: visible;
}

.image-thumbnail .image-thumbnail__button{
    visibility: hidden;
}
